
    * { box-sizing: border-box; }

    body {
      margin: 0;
      background:
        radial-gradient(circle at top, #202020, #050505 70%);
      color: white;
      font-family: Arial, sans-serif;
      overflow: hidden;
    }

    .dash {
      height: 100vh;
      padding: 18px;
      display: grid;
      grid-template-rows: 1.2fr 0.9fr 1.2fr 1.3fr 1.3fr;
      gap: 14px;
    }

    .panel {
      background: rgba(20, 20, 20, 0.92);
      border: 1px solid #333;
      border-radius: 18px;
      box-shadow: 0 0 18px rgba(255,255,255,0.05);
      padding: 14px;
    }

    .top {
      display: grid;
      grid-template-columns: 1fr 1fr 2fr;
      gap: 14px;
    }

    .drs.active {
      color: #7CFF3A;
      box-shadow: 0 0 30px rgba(124,255,58,0.75);
      border-color: #7CFF3A;
    }

    .ers.active {
      color: #FFD21F;
      box-shadow: 0 0 30px rgba(255,210,31,0.75);
      border-color: #FFD21F;
    }

    .label {
      color: #aaa;
      font-size: 18px;
      letter-spacing: 2px;
    }

    .big {
      font-size: 46px;
      font-weight: 900;
      margin-top: 10px;
    }

    .lap .time {
      font-size: 64px;
      font-weight: 900;
      letter-spacing: 3px;
    }

    .middle {
      display: grid;
      grid-template-columns: 1fr 0.8fr 2fr;
      gap: 14px;
    }

    .speed-value {
      font-size: 58px;
      font-weight: 900;
    }

    .gear-value {
      font-size: 68px;
      font-weight: 900;
    }

    .rpm-value {
      font-size: 42px;
      font-weight: 900;
    }

    .rpm-bar {
      display: flex;
      gap: 4px;
      margin-top: 14px;
    }

    .rpm-block {
      flex: 1;
      height: 24px;
      background: #222;
      border-radius: 4px;
    }

    .rpm-block.on.green { background: #72ff28; }
    .rpm-block.on.yellow { background: #ffd21f; }
    .rpm-block.on.red { background: #ff3030; }

    .graph-panel {
        position: relative;
        min-height: 0;
        overflow: hidden;
    }

    canvas {
      width: 100%;
      height: 100%;
      display: block;
    }

    .graph-title {
      position: absolute;
      top: 12px;
      left: 16px;
      font-size: 20px;
      font-weight: bold;
      letter-spacing: 2px;
    }

    .graph-value {
      position: absolute;
      top: 12px;
      right: 16px;
      font-size: 24px;
      font-weight: bold;
    }

    .throttle-color { color: #72ff28; }
    .brake-color { color: #ff3030; }