<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
  <div class="dash">

    <div class="top">
      <div id="aeroPanel" class="panel aero">
        <div class="label">Active Aero</div>
        <div class="big" id="aeroText">C mode</div>
      </div>

      <div id="ersPanel" class="panel ers">
        <div class="label">ERS</div>
        <div class="big" id="ersPercent">100%</div>
      </div>

      <div class="panel lap">
        <div class="label">LAP TIME</div>
        <div class="time" id="lapTime">--:--.---</div>
      </div>
    </div>

    <div class="middle">
      <div class="panel">
        <div class="label">SPEED</div>
        <div><span id="speed" class="speed-value">0</span> km/h</div>
      </div>

      <div class="panel">
        <div class="label">GEAR</div>
        <div id="gear" class="gear-value">N</div>
      </div>

      <div class="panel">
        <div class="label">RPM</div>
        <div><span id="rpm" class="rpm-value">0</span></div>
        <div id="rpmBar" class="rpm-bar"></div>
      </div>
    </div>

    <div class="panel graph-panel input-graph">
      <div class="graph-title">INPUT</div>
      <div class="graph-values">
        <span class="throttle-color">THR <span id="throttleValue">0</span>%</span>
        <span class="brake-color">BRK <span id="brakeValue">0</span>%</span>
      </div>
      <canvas id="inputGraph"></canvas>
    </div>

  </div>
  <script src="{{ url_for('static', filename='app.js') }}"></script>
</body>
</html>
